<!DOCTYPE html>
{% extends "Home/base2.html" %}
{% block body_block %}
{% load static %}
    <div class="page-links">
        <a href="/" class="active">Home</a>
    </div>
<form method="POST" action="{% url 'NewPass' %}">
    {% csrf_token %}
    <label for="newpass">Enter Password:</label>
    <input type="password" name="newpass" class="form-control" required>
    <div class="form-button">
        <button id="submit" type="submit" class="ibtn">Update</button>
    </div>
</form>
{% endblock %}