{% extends "AdminDashboard/adminbase.html" %}
{% block body_block %}
{% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
    .form-control:hover {
        border-color: #0c0c0c;
        border-width: 2px;
        transition: 2s;
    }
    </style>
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'AdminDashboard:adminindex' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">TollBooth</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">TollBooths   <small style="color: #ff6267; font-weight: 500; margin-left: 20px; font-size: small;" >{{notoll}}</small></h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>TollBooth Name</th>
                                                <th>Route Name</th>
                                                <th>Source Location</th>
                                                <th>Destination Location</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in tolls %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ i.TollName }}</td>
                                                <td>{{ i.RouteID.RouteName }}</td>
                                                <td>{{ i.RouteID.SourceLoc.CityName }}</td>
                                                <td>{{ i.RouteID.DestinationLoc.CityName }}</td>
                                                <td><button type="submit" class="btn btn-dark"  data-toggle="modal" data-target="#editolls" onclick="editTollnow({{ i.id }})" >Edit</button> </td>
                                                <td><button type="submit" class="btn btn-dark" onclick="window.location.href='{% url 'AdminDashboard:adminDeleteToll' i.id %}'">Delete</button> </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Add TollBooths</h4>
                                <div class="basic-form">
                                    <form method="post" action ="{% url 'AdminDashboard:adminSetToll' %}">
                                        {% csrf_token %}
                                                <label>Route Name</label>
                                                <input type="text" class="form-control input-rounded" name="tollname" placeholder="TollBooth" required>
                                    <br>
                                                <label>Route</label>
                                                <select name="route" required class="form-control input-rounded">
                                                <option disabled selected value>--select--</option>
                                                    {% for i in routes %}
                                                      <option value="{{ i.RouteName }}">{{ i.RouteName }}</option>
                                                    {% endfor %}
                                                </select>
                                    <br>
                                        <button type="submit" class="btn btn-dark">Submit</button>
                                        <label style="color: #ff6267; font-weight: bold; font-size: medium">
                                                            {% if error %}
                                                            {{error}}
                                                            {% endif %}
                                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="modal fade bd-example-modal-sm" id="editolls" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Update TollBooth</h5>
                                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                <form method="post" id="formtollsubmit">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="id" id="editollid" value="">
                                                    <input type="text" name="tollname" id="edittollname"  placeholder="Location" value="" class="form-control input-rounded" required>
                                                    <br>
                                                    <select name="routes" id="editroute" required class="form-control input-rounded">
                                                    {% for i in routes %}
                                                      <option value="{{ i.RouteName }}">{{ i.RouteName }}</option>
                                                    {% endfor %}
                                                    </select>
                                                        <br>
                                                        <br>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-dark">Submit</button>
                                                    </div>
                                                 </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    <script>
    function editTollnow(id) {
        $.ajax({
            url: '/admindash/EditToll/'+id,
            type: 'GET',
            dataType: 'json',
            success: function(data){
                tid = data['Id'];
                tname = data['TollName'];
                rloc = data['RouteID'];
                $("#editolls").modal('show');
                $("#editollid").val(tid);
                $("#edittollname").val(tname);
                $("#editroute").val(rloc);
            },
            failure: function () {
                alert("Failed")
            }
        });
    }

    $(document).on('submit', '#formtollsubmit',function(e){
    $.ajax({
        type:'POST',
        url:'{% url 'AdminDashboard:adminUpdateToll' %}',
        data:{
            id:$("#editollid").val(),
            TollName:$("#edittollname").val(),
            RouteID:$("#editroute").val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success:function(message){
            if(message['error']) {
                $("#editolls").modal('hide');
                location.reload();
            }
        }
    });
    });

    </script>
{% endblock %}